#room-list {
  .ant-list-items {
    .room-item {
      &:hover {
        background-color: whitesmoke;
        cursor: pointer;
      }
      .ant-list-item-meta-avatar {
      }
      .ant-list-item-meta-content {
        flex: 1;
      }
    }
  }
}
